.mainscreen{
    background: fixed;
    background-color: aquamarine;
}
.formgroups {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    border: 5px solid rgb(233, 229, 229);
}

.errmsg {
    color: red;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    text-align: center;
}

.listable {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}